<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aueb.idry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDry.MidnightMadness">

        <!-- Launcher activity -->
        <activity
            android:name="activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Filter guide activities -->
        <activity
            android:name="activity.FilterGuideFirstActivity"
            android:exported="false" />
        <activity
            android:name="activity.FilterGuideSecondActivity"
            android:exported="false" />
        <activity
            android:name="activity.FilterGuideThirdActivity"
            android:exported="false" />
        <activity
            android:name="activity.FilterGuideFourthActivity"
            android:exported="false" />

        <!-- Container guide activities -->
        <activity
            android:name="activity.ContainerGuideFirstActivity"
            android:exported="false" />
        <activity
            android:name="activity.ContainerGuideSecondActivity"
            android:exported="false" />

        <activity
            android:name="activity.DoorGuideActivity"
            android:exported="false" />

        <!-- Routine related activities -->
        <activity
            android:name="activity.RoutineMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SelectionFirstStepActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SelectionSecondStepActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SelectionThirdStepActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="activity.ProgramOverviewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>